# Bike sales EDA part 2

In [6]:
import pandas as pd 

df = pd.read_csv("../../data/Sales.csv", index_col = 0,parse_dates=True)
df.head()

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 113036 entries, 2013-11-26 to 2016-03-04
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Day               113036 non-null  int64
 1   Month             113036 non-null  object
 2   Year              113036 non-null  int64
 3   Customer_Age      113036 non-null  int64
 4   Age_Group         113036 non-null  object
 5   Customer_Gender   113036 non-null  object
 6   Country           113036 non-null  object
 7   State             113036 non-null  object
 8   Product_Category  113036 non-null  object
 9   Sub_Category      113036 non-null  object
 10  Product           113036 non-null  object
 11  Order_Quantity    113036 non-null  int64
 12  Unit_Cost         113036 non-null  int64
 13  Unit_Price        113036 non-null  int64
 14  Profit            113036 non-null  int64
 15  Cost              113036 non-null  int64
 16  Revenue           113036 non-null  int64
dtypes: int64(9), object(8)
memory usage: 15.5+ MB

## dates

In [ ]:
# mutate existing dataframe 
# â‰ˆ df = df.sort_index(inplace = True)
df.sort_index(inplace = True)

In [11]:
df.head()

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2011-01-01,1,January,2011,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529
2011-01-01,1,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439
2011-01-01,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419
2011-01-01,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621
2011-01-01,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813

In [13]:

df.loc["2013-01-01": "2013-01-02"]

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2013-01-01,1,January,2013,29,Young Adults (25-34),F,United States,Florida,Bikes,Road Bikes,"Road-650 Red, 62",1,487,783,257,487,744
2013-01-01,1,January,2013,29,Young Adults (25-34),M,United States,Oregon,Bikes,Road Bikes,"Road-650 Black, 44",1,487,783,186,487,673
2013-01-01,1,January,2013,19,Youth (<25),F,United States,Washington,Bikes,Road Bikes,"Road-150 Red, 48",1,2171,3578,620,2171,2791
2013-01-01,1,January,2013,53,Adults (35-64),F,France,Seine (Paris),Bikes,Road Bikes,"Road-250 Black, 44",1,1555,2443,448,1555,2003
2013-01-01,1,January,2013,42,Adults (35-64),M,Australia,Queensland,Bikes,Road Bikes,"Road-350-W Yellow, 48",1,1083,1701,346,1083,1429
2013-01-01,1,January,2013,36,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Silver, 46",1,1266,2320,1008,1266,2274
2013-01-01,1,January,2013,27,Young Adults (25-34),F,Australia,New South Wales,Bikes,Road Bikes,"Road-550-W Yellow, 48",1,713,1120,261,713,974
2013-01-01,1,January,2013,37,Adults (35-64),F,Germany,Hamburg,Bikes,Road Bikes,"Road-250 Black, 48",1,1555,2443,717,1555,2272
2013-01-02,2,January,2013,37,Adults (35-64),F,United Kingdom,England,Bikes,Road Bikes,"Road-350-W Yellow, 48",1,1083,1701,550,1083,1633
2013-01-02,2,January,2013,29,Young Adults (25-34),M,Australia,New South Wales,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,126,344,470
2013-01-02,2,January,2013,25,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-200 Silver, 46",1,1266,2320,752,1266,2018
2013-01-02,2,January,2013,29,Young Adults (25-34),F,Australia,New South Wales,Bikes,Road Bikes,"Road-150 Red, 62",1,2171,3578,942,2171,3113
2013-01-02,2,January,2013,30,Young Adults (25-34),M,United Kingdom,England,Bikes,Road Bikes,"Road-750 Black, 48",1,344,540,174,344,518
2013-01-02,2,January,2013,30,Young Adults (25-34),M,France,Essonne,Bikes,Road Bikes,"Road-150 Red, 48",1,2171,3578,1264,2171,3435
2013-01-02,2,January,2013,30,Young Adults (25-34),M,United Kingdom,England,Bikes,Road Bikes,"Road-750 Black, 48",1,344,540,174,344,518
2013-01-02,2,January,2013,28,Young Adults (25-34),M,United States,California,Bikes,Road Bikes,"Road-150 Red, 62",1,2171,3578,1335,2171,3506
2013-01-02,2,January,2013,25,Young Adults (25-34),M,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-200 Black, 38",1,1252,2295,745,1252,1997
2013-01-02,2,January,2013,38,Adults (35-64),M,Germany,Nordrhein-Westfalen,Bikes,Road Bikes,"Road-350-W Yellow, 44",1,1083,1701,397,1083,1480
2013-01-02,2,January,2013,27,Young Adults (25-34),M,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-200 Silver, 46",1,1266,2320,683,1266,1949
2013-01-02,2,January,2013,27,Young Adults (25-34),F,Germany,Hessen,Bikes,Mountain Bikes,"Mountain-200 Black, 42",1,1252,2295,882,1252,2134